* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e77e;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

#user-progress {
    margin-bottom: 10px;
}

.hidden-block {
    display: none;
}
